.Messages {
    
    width: 100%;

    .MessageList {
        width: 75%;
        list-style: circle;
        max-height: 30vh;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 90%;

        & > li {
            margin: 0.2rem;

            &:nth-child(even) {
                font-weight: 300;
            }
        }
    }
}
