.Messages {
    min-width: 20%;
    max-width: 100%;

    .MessageList {
        list-style: circle;
        max-height: 30vh;
        overflow-y: scroll;
        overflow-x: hidden;

        & > li {
            margin: 0.2rem;

            &:nth-child(even) {
                font-weight: 300;
            }
        }
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;

        input[type=text] {
            flex: 1 0 75%;
            margin: 0;
            height: 2rem;
        }

        input[type=submit] {
            flex: 1 0 25%;
            margin: 0;
            height: 2.5rem;
            border-radius: 0 0.2rem 0.2rem;
        }
    }
}
