.MessageList {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;

    & > ul {
        width: 75%;
        list-style: circle;

        & > li {
            margin: 0.2rem;

            &:nth-child(even) {
                font-weight: 300;
            }
        }
    }
}
