@import './ColorPallete.scss';

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: rgba(0,0,0,0.6);
}

.App {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    & > div {
        padding: 1rem;
    }

    .Options {
        flex: 1 0 auto;
        background-color: $Bright;
    }

    .Main {
        flex: 2 0 auto;
        background-color: $Light;
    }

    .UsersAndMessages {
        flex: 1 0 auto;
        background-color: $Info;
    }
}

.Heavy {
    font-weight: 500;
}

.Button {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.2rem;
    background-color: rgba(0,0,0,0.1);
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:active {
        box-shadow: 0.05rem 0.1rem 0.2rem rgba(0,0,0,0.6) inset;
        background-color: rgba(0,0,0,0.2);
    }
}

form {
    display: flex;
    flex-direction: column;

    label {
        padding-top: 1rem;
    }

    input {
        font-size: 1.2rem;
    }

    input[type=checkbox] {
        margin: 1rem;
        transform: scale(2.5);
    }
}

input[type=submit] {
    width: 100%;
    border: none;
    height: 3rem;
    background-color: rgba(0,0,0,0.1);
    border-radius: 0.2rem;

    &:active {
        border: none;
        box-shadow: 0.05rem 0.1rem 0.2rem rgba(0,0,0,0.6) inset;
        background-color: rgba(0,0,0,0.2);
    }

    &:focus {
        outline: 0;
    }
}

.PlayerName {
    font-size: 0.9rem;
}

.PlayerScore {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .App {
        flex-direction: row;
    }
}