.UserList {
    width: 80%;
    & > ul {
        width: 100%;

        & > li {
            display: flex;
            justify-content: space-between;
            align-items:flex-start;

            &  > span {
            
            }
        }
    }
}