.UserList {
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;

    & > ul {
        width: 75%;

        & > li {
            display: flex;
            justify-content: space-between;
            align-items:flex-start;
        }
    }
}