body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5); }

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }
  .App > div {
    padding: 0.5rem 1rem; }
  .App .Options {
    flex: 1;
    background-color: #ADF7B6; }
  .App .Main {
    flex: 2;
    background-color: #FFFC99; }
  .App .UsersAndMessages {
    flex: 1;
    background-color: #79ADDC; }

.UserList {
  width: 80%; }
  .UserList > ul {
    width: 100%; }
    .UserList > ul > li {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }

.MessageList {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 50%; }

